{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div style="display: flex; align-items: center; height: 60%;">
    <div class="p-3 border border-secondary box-shadow" style="max-width: 500px; margin: auto; width: 100%; margin-bottom: 0px;">
        <h1>Регистрация</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword.first) }}
            {{ form_row(registrationForm.plainPassword.second) }}

            <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
